<a href="https://colab.research.google.com/github/Gouthamreddygunda/Gouthamreddy_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# Length of the string using len() keyword
G='Gouthamreddy'
print(len(G))

12

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [15]:
# write your answer here

S='google.com'
charList={} 
for i in S:
 keys=charList.keys()
 if i in keys:
  charList[i]+=1
 else:
  charList[i]=1
sorted_dict = sorted(charList.items(), key=lambda x:x[1], reverse=True)
converted_dict = dict(sorted_dict)
print(converted_dict)

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [2]:
# write your answer here
IntList=[55,5,9,49,98] 
sum=0
for i in range(len(IntList)):
  sum=sum+IntList[i]
print(sum)

216

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [3]:
# write your answer here
Sr = "sussex"
res = Sr.replace("s", "$").replace("$", "s", 1)
print(res)

su$$ex

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
# write your answer here
var_a=24 
var_b=30
S=3.14*((1+var_a/var_b)**3)
print(S)

18.312480000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
# write your answer here
Dict1={1:10, 2:20}
Dict2={3:30, 4:40}
Dict3={5:50,6:60}
Dict1.update(Dict2)
Dict1.update(Dict3)
print(Dict1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [17]:
# write your answer here
Tuple_1=(50,24,35,7,9)
print(35 in Tuple_1)
print(7 in Tuple_1)
print(15 in Tuple_1)

True
True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [16]:
# write your answer here
Set1={10,40,67,100,9}
print(max(Set1))
print(min(Set1))

100
9

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [14]:
# write your answer here
from itertools import islice
from random import randint

Stu_List =  ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def grouping_students(Stu_List, noOfGroups, minSize=4, maxSize=6):
    List_student = iter(Stu_List)
    for i in range(noOfGroups):
      StuGroup = list(islice(List_student,randint(minSize,maxSize)))
      if StuGroup:
            yield StuGroup
      else:
            break
print(list(grouping_students(Stu_List,6)))

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229', 'kg0569'], ['kg0470', 'sg1297', 'bg0320', 'fh0141', 'jl1252', 'sk1386'], ['ak0956', 'sk1390', 'sk1458', 'sk1313', 'ak0934', 'vm0377'], ['nm0618', 'sm1640', 'sm1907', 'gn0108'], ['pr0353', 'dr0609', 'ms1500', 'aos0040'], ['ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [16]:
# write your answer here
def duplicateEle(ele):
    count=0
    resList=[]
    for i in range(len(ele)):
        for j in range(i+1,len(ele)):
            if ele[i]==ele[j]:
                resList.append(ele[i])
    if len(resList)==0:
        return -1;
    else:
        return resList;

eleList=[56,87,95,56,24,67,95,25,87,21,88]
print(duplicateEle(eleList))

eleList2 = [33,45,2365,78,92,23]
print(duplicateEle(eleList2))

[56, 87, 95]
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [17]:
# write your answer here
from datetime import date, timedelta
def SundaysInYear(year):
       date_sunday = date(year, 1, 1)      
       date_sunday += timedelta(days = 6 - date_sunday.weekday())  
       while date_sunday.year == year:
          yield date_sunday
          date_sunday += timedelta(days = 7)
for i in SundaysInYear(2023):
   print(i)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31