<a href="https://colab.research.google.com/github/Gouthamreddygunda/Gouthamreddy_INFO5731_Spring2023/blob/main/INFO5731_Assignment_One_fall2022_goutham.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [18]:
# Your code here
from random import randint
from statistics import mean
Random=[randint(1,100) for ind in range(12)]
Random.sort()
print('Ascending Order',Random)
Random.sort(reverse=True)
print('Descending Order',Random)
print('Average is ',mean(Random))

Ascending Order [26, 27, 36, 37, 39, 43, 44, 46, 59, 83, 85, 93]
Descending Order [93, 85, 83, 59, 46, 44, 43, 39, 37, 36, 27, 26]
Average is  51.5

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

2.1

In [5]:
# Your code here
print('Enter two Sentences')
S1=input()
S2=input()

Enter two Sentences
i am goutham
i am good

2.2

In [7]:
import re
def list_to_Sentence(str_input):
  res=re.compile(r'\w+|[^\w\s]')
  return res.findall(str_input);

ls_to_St1=list_to_Sentence(S1)
ls_to_St2=list_to_Sentence(S2)
print(ls_to_St1)
print(ls_to_St2)

['i', 'am', 'goutham']
['i', 'am', 'good']

2.3

In [8]:
Comp_Lst=[]
for lst in ls_to_St1:
  if lst in ls_to_St2:
    Comp_Lst.append(lst)
print(Comp_Lst)

['i', 'am']

2.4

In [10]:
import string
def punc1(str_input):
  return ''.join([str for str in str_input if str not in string.punctuation])

print(punc1(S1))
print(punc1(S2))

i am goutham
i am good

2.5

In [13]:
def N_of_Vowels(string_input):
  string_lower=string_input.lower()
  vowels={}.fromkeys('aeiou',0)
  for lst in string_lower:
    if lst in vowels:
      vowels[lst]+=1
  vowels_cnt={key:value for key,value in vowels.items() if value!=0}
  return vowels_cnt;
print(N_of_Vowels(S1))
print(N_of_Vowels(S2))

{'a': 2, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'i': 1, 'o': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [11]:
# Your code here
print('r  v')
for i in range(1,10):
  print("{0}  {1}".format(i,(4/3)*(3.141592653589793238)*(i)**3))

r  v
1  4.1887902047863905
2  33.510321638291124
3  113.09733552923254
4  268.082573106329
5  523.5987755982989
6  904.7786842338603
7  1436.7550402417319
8  2144.660584850632
9  3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

4.1

In [20]:
Occupied_Housing_1 = pd.read_csv('Assignment1_denton_housing.csv')
Diff_df = Occupied_Housing_1[Occupied_Housing_1['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
Diff_df.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

4.2

In [26]:
##Question 2 calculate the percentage of housing units which are vacant an occupied.
import pandas as pd
vacant_housing_1 = Occupied_Housing_1[Occupied_Housing_1['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value'].values.tolist()
occupied_Units_1 = Occupied_Housing_1[Occupied_Housing_1['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value'].values.tolist()
total_housing = Occupied_Housing_1[Occupied_Housing_1['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()
lst_year = Occupied_Housing_1[Occupied_Housing_1['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year'].values.tolist()
vacant_housing_Percent = [str((vacant/total)*100)+' %' for vacant,total in zip(vacant_housing_1,total_housing)]
occupied_housing_percent = [str((ind/total)*100)+' %' for ind, total in zip(occupied_Units_1, total_housing)]
Final_Res = pd.DataFrame(list(zip(lst_year,vacant_housing_Percent, occupied_housing_percent)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
Final_Res

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

4.3

In [27]:
## Question 3 Calculate and print the valued and years in which the highest number of housing units were vacant and occupied.
vacant_rooms = Occupied_Housing_1[Occupied_Housing_1['title_field'] == 'Vacant Housing Units']
High_Number = pd.concat([Diff_df[Diff_df['value'] == Diff_df['value'].max()],vacant_rooms[vacant_rooms['value'] == vacant_rooms['value'].max()]])
print(High_Number[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

4.4

In [29]:
##Question 4 Calculate the harmonic mean of the total housing units and print it out
from scipy import stats
print(stats.hmean(total_housing))

44398.28543969185